<nav class="desk">
    <ul role="list" class="desk-nav">
        <button class="theme">CHANGE THEME</button>
        <li>
            <a href="/" class="nav-item-desk">Home</a>
        </li>
        <li>
            <a href="/blogs/" class="nav-item-desk">Blog</a>
        </li>
    </ul>
</nav>