@import url("./variables.css");

*,
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}
.header {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  text-transform: uppercase;
  align-self: flex-start;
  font-weight: 700;
  margin: 3rem auto;
  font-size: 85px;
  color: var(--white);
  text-shadow: 5px 5px 4px #ff0000;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 80%;
  width: 45%;
  margin: 0 auto;
}
.desk {
  background-color: var(--light-black);
  width: 100%;
  margin: 0;
  z-index: 2;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
}
.desk-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 100%;
}

.nav-item-desk,
.nav-item-desk:visited,
.nav-item-desk:link {
  font-size: 35px;
  font-weight: 700;
  color: var(--white);
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.theme {
  text-decoration: none;
  background-color: var(--light-black);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.articles {
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-row: auto auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-items: center;
}

.article {
  color: var(--white);
  font-weight: 400;
  font-size: 50px;
  padding: 3rem;
  background-color: var(--coral);
  border: solid var(--black);
  border-radius: 2rem;
}

.article-link {
  text-decoration: none;
  background-color: var(--greyish-pink);
  color: var(--black);
  padding: 1rem;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  display: grid;
  justify-items: center;
}

.main-article {
  color: var(--white);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

img {
  width: 100%;
  height: 60%;
  object-fit: contain;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
