:root {
  --grey-pink: #ca9090;
  --light-black: #1d1c1c;
  --white: #ffffff;
  --peach: #f18c8c;
  --light-pink: #ffc6c6;
  --light-blue: #aeceff;
  --blue: #92b8ff;
  --red: #5c0202;
  --background-img1: url("/media/background1.jpg");
  --background-img2: url("/media/background2.jpg");
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.dark {
  --primary-background: var(--black);
  --nav-background: var(--light-black);
  --post-background: var(--light-blue);
  --text-primary: var(--white);
  --post-button: var(--blue);
  --sort-buttons: var(--light-blue);
  --nav-text: var(--white);
  --background-img: var(--background-img1);
}

.light {
  --primary-background: var(--white);
  --nav-background: var(--peach);
  --post-background: var(--light-pink);
  --text-primary: var(--red);
  --post-button: var(--grey-pink);
  --sort-buttons: var(--light-pink);
  --nav-text: var(--white);
  --background-img: var(--background-img2);
}
